*{
    margin: 0;
    padding: 0;
  
    box-sizing: border-box;
  
    font-family: 'Josefin Sans', sans-serif;
}

.display-block{
    display: block !important; 
}
.display-none{
    display: none !important;
}

.application-tittle{
    background-color: #ededed;
    padding: 15px;
    border-bottom: 1px solid gainsboro;
}
.application-tittle h1{
    font-size: 50px;
    text-align: center;
    margin-bottom:50px ;
}
.application-tittle button{
    background-color: royalblue;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
.application-tittle button a{
    text-decoration: none;
    color: white;
}

.user-list{
    width: 30%;
    border-right: 1px solid gainsboro;
    display: inline-block;
    /* background-color: #ededed; */
}
.user-list-heading{
    border-bottom: 1px solid;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}
.user:hover{
    background-color: #3e4e80;
    color: white;
}
.user{
    padding: 8px 20px;
    border-bottom: 1px solid gainsboro;
    position: relative;
}
.user-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid;
    object-fit: cover;

}
.user-font{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    padding: 8px;
    font-size: 35px;
    color: #d9d9d9;
    display: none;
}
.user p {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0px 0 20px;
    font-size: 18px;
}
.display-area{
    display: inline-flex;
    vertical-align: top;
    width: 65%;
    margin-top: 50px;
}
/* login form css */

.login-form{
    display: none;
    min-width:350px ;
    margin: 0 auto;
    padding: 40px;
}
.login-form h2{
    text-align: center;
    margin: 0px 0px 40px;
    font-size: 30px;
}
.user-fill{
    position: relative;
}
#user-profession{
  color:black;
}

.login-form input,
#user-profession{
    font-size: 18px;
    padding: 3px 20px;
    margin: 20px 0px;
    width: 100%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid;
    outline: none;
   
}
#form-label{
    position: absolute;
    top: 10px;
    left: 10px ;
    pointer-events: none;
    padding:20px 0 10px ;
    font-size: 18px;
    transition: .5s;
}
.login-form input:valid ~ #form-label,
.login-form input:focus ~ #form-label{
  top: -20px;
  left: 10px;
  color: #03e9f4;
  font-size: 15px;
  background-color: transparent;
}

.btn-parent{
    display: block;
}
.back-btn{
    background-color: royalblue !important;
    padding: 7px 15px !important ;
    font-size: 15px !important;
    width: unset !important;
    outline: none !important;
}
.btn{
    background-color: royalblue;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 4px;
    color: white;
    margin: 0 auto;
    display: inline-block;
    margin-top: 20px;
}

/* first user */
/* .firstUserParent{
    display: none;
}
.secondUserParent{
    display: none;
}
.thirdUserParent{
    display: none;
}
.fourthUserParent{
    display: none;
}
.fifthUserParent{
    display: none;
} */

/* .firstUserParent div,
.secondUserParent div,
.thirdUserParent div,
.fourthUserParent div,
.fifthUserParent div
{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin: 50px;
} */
/* .firstUserParent img,
.secondUserParent img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.thirdUserParent i,
.fourthUserParent i,
.fifthUserParent i{
    font-size: 100px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    height: 150px;
    width: 150px;
    color: gainsboro;
    padding-top: 20px;
    margin: 10px;
} */
.profile-font{
    font-size: 100px;
    border-radius: 50%;
    border: 1px solid gainsboro;
    height: 150px;
    width: 150px;
    color: gainsboro;
    padding-top: 20px;
    margin: 10px;
    text-align: center;
    margin-left: 70px;
}
.p-img-editPage{
    height: 200px;
    width: 200px;
    padding-top: 0px;
    position: relative;
}
.search{
    width: 300px;
    height: 40px;
    font-size: 19px;
    padding: 3px 20px;
    border-radius: 20px;
    border: 1px solid;
    outline: none
}
.search-bar{
    position: relative;
}
.search-bar i {
    position: absolute;
    top: 13px;
    left: 270px;
    color: royalblue;
}
.userProfile{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    display: none;
    position: relative;
}
.my-profile{
    display: none;
    margin:0 auto;
    width: 100%;
    text-align: center;
}
.my-profile div{
    margin-top: 50px;
    line-height: 30px;
}
.my-profile img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.active-css{
    background-color: #3e4e80;
    color: white;
}

.user-edit{
    font-size: 15px;
    float: right;
    border: 1px solid gainsboro;
    width: 35px;
    height: 35px;
    padding-top: 10px;
}
.save-btn{
    margin-left: 10px;
}
.edit-input{
    font-size: 18px;
    padding: 3px 10px;
    width: 50%;
    height: 35px;
    border: 0;
    border-bottom: 1px solid gainsboro;
    margin-top: 10px;
    text-align: center;
}
.delet-user{
   display: none !important;
    float: right;
    margin-top: 20px;
}
.delet-font-display{
    display: block !important;
}
#user-profession{
    font-size: 17px;

}
.profile-edit{
    font-size: 20px;
    border: 1px solid;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-top: 7px;
    color: white;
    position: absolute;
    top: 166px;
    right: 417px;
    background-color: black;
    visibility: hidden;
}
.profile-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    display: none;
}
.font-input{
    position: absolute;
    top: 6px;
    left: -18px;
    opacity: 0;
    width: 100px;
}
/* .font-down-angle .user:hover{
    display: block;
} */
.font-down-angle{
    position: absolute;
    right: 23px;
    top: 28px;
    font-size: 22px;
    display: none;
}
/* input,
select{
    background-color:red ;
} */
